<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head') %>

  <body>
    <!-- HEADER -->
    <%- include('../partials/header') %>

      <!-- MAIN -->
      <main>
        <h2 class="titulo-seccion">Productos / Carteras</h2>
        <div class="galeria">
          <!-- Producto 1 -->
          <div class="producto">
            <img src="/img/products/bag_romana.jpg" alt="Bag Romana" class="imagen-galeria">
            <h3><a href="/products/bag_romana">Bag Romana</a></h3>
            <p class="precio">$30.000</p>
            <a class="btn-comprar" href="/products/bag_romana">COMPRAR</a>
          </div>
          <!-- Producto 2 -->
          <div class="producto">
            <img src="/img/products/bag_riri.jpg" alt="Bag Riri" class="imagen-galeria">
            <h3><a href="/products/bag_riri">Bag Riri Tachas</a></h3>
            <p class="precio">̶$̶3̶8̶.̶0̶0̶0̶ $32.000</p>
            <a class="btn-comprar" href="/products/bag_riri">COMPRAR</a>
          </div>
          <!-- Producto 3 -->
          <div class="producto">
            <img src="/img/products/bag_spark.jpeg" alt="Bag Spark" class="imagen-galeria">
            <h3><a href="/products/bag_spark">Bag Spark</a></h3>
            <p class="precio">$32.000</p>
            <a class="btn-comprar" href="/products/bag_spark">COMPRAR</a>
          </div>
          <!-- Producto 4 -->
          <div class="producto">
            <img src="/img/products/bag_chic_brown.jpg" alt="Bag Chic Brown" class="imagen-galeria">
            <h3><a href="/products/bag_chic_brown">Bag Chic Brown</a></h3>
            <p class="precio">$̶3̶5̶.̶0̶0̶0̶ $30.000</p>
            <a class="btn-comprar" href="/products/bag_chic_brown">COMPRAR</a>
          </div>
          <!-- Producto 5 -->
          <div class="producto">
            <img src="/img/products/bag_chic_black.jpg" alt="Bag Chic Black" class="imagen-galeria">
            <h3><a href="/products/bag_chic_black">Bag Chic Black</a></h3>
            <p class="precio">$̶3̶5̶.̶0̶0̶0̶ $30.000</p>
            <a class="btn-comprar" href="/products/bag_chic_black">COMPRAR</a>
          </div>
          <!-- Producto 6 -->
          <div class="producto">
            <img src="/img/products/bag_vera.jpeg" alt="Bag Vera" class="imagen-galeria">
            <h3><a href="/products/bag_vera">Bag Vera Charol</a></h3>
            <p class="precio">$32.000</p>
            <a class="btn-comprar" href="/products/bag_vera">COMPRAR</a>
          </div>
          <!-- Producto 7 -->
          <div class="producto">
            <img src="/img/products/bag_oxford.jpg" alt="Bag Oxford" class="imagen-galeria">
            <h3><a href="/products/bag_oxford">Bag Oxford</a></h3>
            <p class="precio">$35.000</p>
            <a class="btn-comprar" href="/products/bag_oxford">COMPRAR</a>
          </div>
          <!-- Producto 8 -->
          <div class="producto">
            <img src="/img/products/bag_soho.jpg" alt="Bag Soho" class="imagen-galeria">
            <h3><a href="/products/bag_soho">Bag Soho</a></h3>
            <p class="precio">$35.000</p>
            <a class="btn-comprar" href="/products/bag_soho">COMPRAR</a>
          </div>
        </div>
      </main>
      <%- include('../partials/footer') %>
  </body>

</html>