<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head') %>

<body>
    <!-- HEADER -->
    <%- include('../partials/header') %>
    <main>
        <h2 class="titulo-seccion">Gift Cards</h2>
        <div class="galeria">
            <!-- Producto 1 -->
            <div class="producto">
                <img src="/img/products/giftcard1.png" alt="Gift Card 1" class="imagen-galeria">
                <h3><a href="/products/giftcard1">Gift Card</a></h3>
                <p class="precio">Válido para una compra de $25.000</p>
                <button class="btn-comprar">COMPRAR</button>
            </div>
            <!-- Producto 2 -->
            <div class="producto">
                <img src="/img/products/giftcard2.png" alt="Gift Card 2" class="imagen-galeria">
                <h3><a href="/products/giftcard2">Gift Card</a></h3>
                <p class="precio">Válido para una compra de $50.000</p>
                <button class="btn-comprar">COMPRAR</button>
            </div>
            <!-- Producto 3 -->
            <div class="producto">
                <img src="/img/products/giftcard3.png" alt="Gift Card 3" class="imagen-galeria">
                <h3><a href="/products/giftcard3">Gift Card</a></h3>
                <p class="precio">Válido para una compra de $70.000</p>
                <button class="btn-comprar">COMPRAR</button>
            </div>
            <!-- Producto 4 -->
            <div class="producto">
                <img src="/img/products/giftcard4.png" alt="Gift Card 4" class="imagen-galeria">
                <h3><a href="/products/giftcard4">Gift Card</a></h3>
                <p class="precio">Válido para una compra de $80.000</p>
                <button class="btn-comprar">COMPRAR</button>
            </div>
            <!-- Producto 5 -->
            <div class="producto">
                <img src="/img/products/giftcard5.png" alt="Gift Card 5" class="imagen-galeria">
                <h3><a href="/products/giftcard5">Gift Card</a></h3>
                <p class="precio">Válido para una compra de $100.000</p>
                <button class="btn-comprar">COMPRAR</button>
            </div>
            <!-- Producto 6 -->
            <div class="producto">
                <img src="/img/products/giftcard6.png" alt="Gift Card 6" class="imagen-galeria">
                <h3><a href="/products/giftcard6">Gift Card</a></h3>
                <p class="precio">Válido para una compra de $130.000</p>
                <button class="btn-comprar">COMPRAR</button>
            </div>
        </div>
    </main>

    <%- include('../partials/footer') %>

</body>

</html>
