<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head') %>

<body>
  <!-- HEADER -->
  <%- include('../partials/header') %>

  <main>
    <h2 class="titulo-seccion">Productos / Mochilas</h2>
    <div class="galeria">
      <!-- Producto 1 -->
      <div class="producto">
        <img src="/img/products/mochila-bear.jpg" alt="Mochila Bear" class="imagen-galeria">
        <h3><a href="/products/mochila_bear.ejs">Mochila Bear</a></h3>
        <p class="precio">$50.000</p>
        <button class="btn-comprar">COMPRAR</button>
      </div>
      <!-- Producto 2 -->
      <div class="producto">
        <img src="/img/products/mochila-climb.jpg" alt="Mochila Climb" class="imagen-galeria">
        <h3><a href="/products/mochila_climb.ejs">Mochila Climb</a></h3>
        <p class="precio">$52.000</p>
        <button class="btn-comprar">COMPRAR</button>
      </div>
      <!-- Producto 3 -->
      <div class="producto">
        <img src="/img/products/mochila_margot.jpg" alt="Mochila Margot" class="imagen-galeria">
        <h3><a href="/products/mochila_margot.ejs">Mochila Margot</a></h3>
        <p class="precio">$̶5̶0̶.̶0̶0̶0̶ $48.000</p>
        <button class="btn-comprar">COMPRAR</button>
      </div>
      <!-- Producto 4 -->
      <div class="producto">
        <img src="/img/products/mochila-maui-beige1.jpg" alt="Mochila Maui Beige" class="imagen-galeria">
        <h3><a href="/products/mochila_maui_beige.ejs">Mochila Maui Beige</a></h3>
        <p class="precio">$50.000</p>
        <button class="btn-comprar">COMPRAR</button>
      </div>
      <!-- Producto 5 -->
      <div class="producto">
        <img src="/img/products/mochila-maui-negro.jpg" alt="Mochila Maui Negro" class="imagen-galeria">
        <h3><a href="/products/mochila_maui_negro">Mochila Maui Negro</a></h3>
        <p class="precio">$50.000</p>
        <button class="btn-comprar">COMPRAR</button>
      </div>
      <!-- Producto 6 -->
      <div class="producto">
        <img src="/img/products/mochila-smile.jpg" alt="Mochila Smile" class="imagen-galeria">
        <h3><a href="/products/mochila_smile">Mochila Maui Smile</a></h3>
        <p class="precio">$48.000</p>
        <button class="btn-comprar">COMPRAR</button>
      </div>
      <!-- Producto 7 -->
      <div class="producto">
        <img src="/img/products/mochila-zaku.jpg" alt="Mochila Zaku" class="imagen-galeria">
        <h3><a href="/products/mochila_zaku">Mochila Zaku</a></h3>
        <p class="precio">$48.000</p>
        <button class="btn-comprar">COMPRAR</button>
      </div>
      <!-- Producto 8 -->
      <div class="producto">
        <img src="/img/products/mochila_elsie.jpg" alt="Mochila Elsie" class="imagen-galeria">
        <h3><a href="/products/mochila_elsie">Mochila Elsie</a></h3>
        <p class="precio">$̶4̶8̶.̶0̶0̶0̶ $45.000</p>
        <button class="btn-comprar">COMPRAR</button>
      </div>
    </div>
  </main>

  <%- include('../partials/footer') %>

</body>

</html>
