<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

    <body>
        <!-- HEADER -->
        <%- include('../partials/header') %>
            <main>
                <h2 class="titulo-seccion">Productos con descuento</h2>
                <div class="galeria">
                    <!-- Producto 1 -->
                    <div class="producto">
                        <img src="/img/products/gafas_dubai.jpeg" alt="Gafas Metálicas Dubai" class="imagen-galeria">
                        <h3><a href="/products/gafas_dubai">Gafas Metálicas Dubai</a></h3>
                        <p class="precio">̶$̶1̶5̶.̶0̶0̶0̶ $12.000</p>
                        <button class="btn-comprar">COMPRAR</button>
                    </div>
                    <!-- Producto 2 -->
                    <div class="producto">
                        <img src="/img/products/gafas_onix.JPEG" alt="Gafas Metálicas Onix" class="imagen-galeria">
                        <h3><a href="/products/gafas_onix">Gafas Metálicas Onix</a></h3>
                        <p class="precio">̶$̶1̶8.̶0̶0̶0̶ $12.000</p>
                        <button class="btn-comprar">COMPRAR</button>
                    </div>
                    <!-- Producto 3 -->
                    <div class="producto">
                        <img src="/img/products/gafas_orange.jpeg" alt="Gafas Aviator" class="imagen-galeria">
                        <h3><a href="/products/gafas_aviator">Gafas Aviator</a></h3>
                        <p class="precio">̶$̶1̶8̶.̶0̶0̶0̶ $13.000</p>
                        <button class="btn-comprar">COMPRAR</button>
                    </div>
                    <!-- Producto 4 -->
                    <div class="producto">
                        <img src="/img/products/gafas_chelsea.JPEG" alt="Gafas Chelsea" class="imagen-galeria">
                        <h3><a href="/products/gafas_chelsea">Gafas Chelsea</a></h3>
                        <p class="precio">̶$̶2̶0̶.̶0̶0̶0̶ $16.000</p>
                        <button class="btn-comprar">COMPRAR</button>
                    </div>
                    <!-- Producto 5 -->
                    <div class="producto">
                        <img src="/img/products/pulser_volcanica.jpeg" alt="Pulsera Piedra Volcánica" class="imagen-galeria">
                        <h3><a href="/products/puls_volcanica">Pulsera Volcánica</a></h3>
                        <p class="precio">̶$̶2̶2̶.̶0̶0̶0̶ $18.000</p>
                        <button class="btn-comprar">COMPRAR</button>
                    </div>
                    <!-- Producto 6 -->
                    <div class="producto">
                        <img src="/img/products/collar_perlas.jpeg" alt="Collar Perlas" class="imagen-galeria">
                        <h3><a href="/products/collar_perlas">Collar Perlas</a></h3>
                        <p class="precio">̶$̶2̶2̶.̶0̶0̶0̶ $20.000</p>
                        <button class="btn-comprar">COMPRAR</button>
                    </div>
                    <!-- Producto 7 -->
                    <div class="producto">
                        <img src="/img/products/pulsera_corona.jpeg" alt="Pulsera Corona" class="imagen-galeria">
                        <h3><a href="/products/puls_corona">Pulsera Corona</a></h3>
                        <p class="precio">̶̶$̶2̶5̶.̶0̶0̶0̶ $18.000</p>
                        <button class="btn-comprar">COMPRAR</button>
                    </div>
                    <!-- Producto 8 -->
                    <div class="producto">
                        <img src="/img/products/bag_chic_brown.jpg" alt="Bag Chic Brown" class="imagen-galeria">
                        <h3><a href="/products/bag_chic_brown">Bag Chic Brown</a></h3>
                        <p class="precio">̶$̶3̶5̶.̶0̶0̶0̶ $30.000</p>
                        <button class="btn-comprar">COMPRAR</button>
                    </div>
                    <!-- Producto 9 -->
                    <div class="producto">
                        <img src="/img/products/bag_chic_black.jpg" alt="Bag Chic Black" class="imagen-galeria">
                        <h3><a href="/products/bag_chic_black">Bag Chic Black</a></h3>
                        <p class="precio">̶$̶3̶5̶.̶0̶0̶0̶ $30.000</p>
                        <button class="btn-comprar">COMPRAR</button>
                    </div>
                    <!-- Producto 10 -->
                    <div class="producto">
                        <img src="/img/products/bag_riri.jpg" alt="Bag Riri" class="imagen-galeria">
                        <h3><a href="/products/bag_riri">Bag Riri Tachas</a></h3>
                        <p class="precio">̶$̶3̶8̶.̶0̶0̶0̶ $32.000</p>
                        <button class="btn-comprar">COMPRAR</button>
                    </div>
                    <!-- Producto 11 -->
                    <div class="producto">
                        <img src="/img/products/mochila_margot.jpg" alt="Mochila Margot" class="imagen-galeria">
                        <h3><a href="/products/mochila_margot">Mochila Margot</a></h3>
                        <p class="precio">̶$̶5̶0̶.̶0̶0̶0̶ $48.000</p>
                        <button class="btn-comprar">COMPRAR</button>
                    </div>
                    <!-- Producto 12-->
                    <div class="producto">
                        <img src="/img/products/mochila_elsie.jpg" alt="Mochila Elsie" class="imagen-galeria">
                        <h3><a href="/products/mochila_elsie">Mochila Elsie</a></h3>
                        <p class="precio">$̶4̶8̶.̶0̶0̶0̶ $45.000</p>
                        <button class="btn-comprar">COMPRAR</button>
                    </div>
                </div>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>