<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Accesorios - Bronte Bags</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather+Sans:wght@400;500&display=swap"
    rel="stylesheet">
</head>

<body>
  <!-- HEADER -->
  <!-- HEADER -->
  <header class="header">
    <nav class="nav-left">
      <ul class="menu-izquierdo">
        <li class="dropdown">
          <a href="todos.html" class="dropbtn">Productos</a>
          <ul class="submenu">
            <li><a href="todos.html">Todos los productos</a></li>
            <li><a href="carteras.html">Carteras</a></li>
            <li><a href="mochilas.html">Mochilas</a></li>
            <li><a href="gafas.html">Gafas Unisex</a></li>
            <li><a href="accesorios.html">Accesorios Unisex</a></li>
          </ul>
        </li>
        <li><a href="giftcard.html">GIFT CARDS</a></li>
        <li><a href="sale.html">SALE</a></li>
      </ul>
    </nav>
    <!-- Logo centro -->
    <div class="logo">
      <a href="index.html" class="logo-link">
        <img src="../img/logo.png" alt="Logo Brontë Bags">
        <h1 class="libre-baskerville-bold">Brontë Bags</h1>
      </a>
    </div>
    <!-- Menú derecha (vertical) -->
    <nav class="nav-right">
      <a href="cuenta.html">Cuenta</a>
      <div class="dropdown">
        <a href="#" class="dropbtn">Mi Pedido</a>
        <ul class="pedido-submenu">
          <li>Aún no tienes productos en tu pedido, ¡elige algo para agregar!</li>
        </ul>
      </div>
      <a href="buscar.html">Buscar</a>
    </nav>
  </header>
  <main>
    <h2 class="titulo-seccion">Productos / Accesorios Unisex</h2>
    <div class="galeria">
      <!-- Accesorios  -->
      <!-- Producto 1 -->
      <div class="producto">
        <img src="../img/collar_malaquita.jpeg" alt="Collar Malaquita" class="imagen-galeria">
        <h3><a href="collar_malaquita.html">Collar Malaquita</a></h3>
        <p class="precio">$25.000</p>
        <button class="btn-comprar">COMPRAR</button>
      </div>
      <!-- Producto 2 -->
      <div class="producto">
        <img src="../img/collar_perlas.jpeg" alt="Collar Perlas" class="imagen-galeria">
        <h3><a href="collar_perlas.html">Collar Perlas</a></h3>
        <p class="precio">̶$̶2̶2̶.̶0̶0̶0̶ $20.000</p>
        <button class="btn-comprar">COMPRAR</button>
      </div>
      <!-- Producto 3 -->
      <div class="producto">
        <img src="../img/pulsera_tachas.jpeg" alt="Pulsera Tachas" class="imagen-galeria">
        <h3><a href="puls_tachas.html">Pulsera Tachas</a></h3>
        <p class="precio">$18.000</p>
        <button class="btn-comprar">COMPRAR</button>
      </div>
      <!-- Producto 4 -->
      <div class="producto">
        <img src="../img/pulsera_tachas_mini.jpeg" alt="Pulsera Tachas Mini" class="imagen-galeria">
        <h3><a href="puls_tachas_mini.html">Pulsera Tachas Mini</a></h3>
        <p class="precio">$18.000</p>
        <button class="btn-comprar">COMPRAR</button>
      </div>
      <!-- Producto 5 -->
      <div class="producto">
        <img src="../img/pulsera_corona.jpeg" alt="Pulsera Corona" class="imagen-galeria">
        <h3><a href="puls_corona.html">Pulsera Corona</a></h3>
        <p class="precio">$̶2̶5̶.̶0̶0̶0̶ $18.000</p>
        <button class="btn-comprar">COMPRAR</button>
      </div>
      <!-- Producto 6 -->
      <div class="producto">
        <img src="../img/pulser_volcanica.jpeg" alt="Pulsera Piedra Volcánica" class="imagen-galeria">
        <h3><a href="puls_volcanica.html">Pulsera Volcánica</a></h3>
        <p class="precio">$̶2̶2̶.̶0̶0̶0̶ $18.000</p>
        <button class="btn-comprar">COMPRAR</button>
      </div>
      <!-- Producto 7 -->
      <div class="producto">
        <img src="../img/set_x2_cuero.jpeg" alt="Set X2 Cuero" class="imagen-galeria">
        <h3><a href="set_x2_cuero.html">Set X2 Cuero</a></h3>
        <p class="precio">$25.000</p>
        <button class="btn-comprar">COMPRAR</button>
      </div>
      <!-- Producto 8 -->
      <div class="producto">
        <img src="../img/set_ancla_cuero.jpeg" alt="Set Ancla Cuero" class="imagen-galeria">
        <h3><a href="set_ancla_cuero.html">Set Ancla Cuero</a></h3>
        <p class="precio">$25.000</p>
        <button class="btn-comprar">COMPRAR</button>
      </div>
      <!-- Producto 9 -->
      <div class="producto">
        <img src="../img/set_cruz_cuero.jpeg" alt="Set Cruz Cuero" class="imagen-galeria">
        <h3><a href="set_cruz_cuero.html">Set Cruz Cuero</a></h3>
        <p class="precio">$25.000</p>
        <button class="btn-comprar">COMPRAR</button>
      </div>
      <!-- Producto 10 -->
      <div class="producto">
        <img src="../img/set_x4_cuero.jpeg" alt="Set X4 Cuero" class="imagen-galeria">
        <h3><a href="set_x4_cuero.html">Set X4 Cuero</a></h3>
        <p class="precio">$33.000</p>
        <button class="btn-comprar">COMPRAR</button>
      </div>

    </div>
  </main>

  <footer class="footer">
    <div class="footer-socials">
      <a href="https://instagram.com/bronte.bags">Instagram</a>
      <a href="https://facebook.com">Facebook</a>
      <a href="https://wa.me/3855306000">WhatsApp</a>
    </div>
  </footer>

</body>

</html>