<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>

    <main>
      <!-- Sección Tendencias -->
      <section id="tendencias">
        <h2>Tendencias</h2>
        <div class="grid">
          <img src="/img/products/mochila-rosa.jpg" alt="Tendencia 1">
          <img src="/img/products/bag_vera.jpeg" alt="Tendencia 2">
          <img src="/img/products/gafas.JPEG" alt="Tendencia 3">
        </div>
      </section>

      <!-- Sección Carteras -->
      <section id="carteras">
        <h2><a href="/carteras">Carteras</a></h2>
        <div class="grid">
          <img src="/img/products/cartera1.jpg" alt="Cartera 1">
          <img src="/img/products/cartera2.jpg" alt="Cartera 2">
          <img src="/img/products/cartera3.jpg" alt="Cartera 3">
        </div>
      </section>

      <!-- Sección Mochilas -->
      <section id="mochilas">
        <h2><a href="/mochilas">Mochilas</a></h2>
        <div class="grid">
          <img src="/img/products/mochila-climb.jpg" alt="Mochila 1">
          <img src="/img/products/mochila-maui-beige.jpg" alt="Mochila 2">
          <img src="/img/products/mochila-bear.jpg" alt="Mochila 3">
        </div>
      </section>

      <!-- Sección Gafas -->
      <section id="gafas">
        <h2><a href="/gafas">Gafas Unisex</a></h2>
        <div class="grid">
          <img src="/img/products/gafas_california.JPEG" alt="Gafas 1">
          <img src="/img/products/gafas_luxury.jpeg" alt="Gafas 2">
          <img src="/img/products/gafas_dubai.jpeg" alt="Gafas 3">
        </div>
      </section>

      <!-- Sección Accesorios -->
      <section id="accesorios">
        <h2><a href="/accesorios">Accesorios Unisex</a></h2>
        <div class="grid">
          <img src="/img/products/pulsera_tachas_mini.jpeg" alt="Pulsera">
          <img src="/img/products/collar_malaquita.jpeg" alt="Collar Malaquita">
          <img src="/img/products/set_x2_cuero.jpeg" alt="Set X2 Cuero">
        </div>
      </section>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
