<header class="header">
  <!-- NAV IZQUIERDA -->
  <nav class="nav-left">
    <ul class="menu-izquierdo">
      <li class="dropdown">
        <a href="/products" class="dropbtn">Productos</a>

        <ul class="submenu">
          <li><a href="/products">Todos los productos</a></li>
          <li><a href="/carteras">Carteras</a></li>
          <li><a href="/mochilas">Mochilas</a></li>
          <li><a href="/gafas">Gafas Unisex</a></li>
          <li><a href="/accesorios">Accesorios Unisex</a></li>
        </ul>
      </li>
      <li><a href="/giftcard">GIFT CARDS</a></li>
      <li><a href="/sale">SALE</a></li>
    </ul>
  </nav>

  <!-- LOGO -->
  <div class="logo">
    <a href="/" class="logo-link">
      <img src="/img/logo.png" alt="Logo Brontë Bags" />
      <h1 class="libre-baskerville-bold">Brontë Bags</h1>
    </a>
  </div>

  <!-- NAV DERECHA -->
  <nav class="nav-right">
    <% if (!userLogged) { %>
    <a href="/users/login">Cuenta</a>
    <% } else { %>
    <div class="user-menu">
      <a class="dropbtn">Hola, <%= userLogged.name %> ▼</a>

      <ul class="user-submenu">
        <li><a href="/users/profile">Mi Perfil</a></li>
        <li>
          <form
            action="/users/logout"
            method="POST"
            style="margin: 0; padding: 0"
          >
            <button type="submit" class="logout-btn">Cerrar Sesión</button>
          </form>
        </li>
      </ul>
    </div>

    <% } %>

    <div class="dropdown">
      <a href="/carrito" class="dropbtn">Mi Pedido</a>
      <ul class="pedido-submenu">
        <li>Aún no tienes productos en tu pedido, ¡elige algo para agregar!</li>
      </ul>
    </div>

    <a href="/buscar">Buscar</a>
  </nav>
</header>
