<!doctype html>
<html lang="es">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>

      <main class="carrito">
        <h2 class="titulo-seccion">Tu Carrito (Ejemplo)</h2>
        <div class="carrito-contenido">
          <table class="tabla-carrito">
            <thead>
              <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="carrito-producto">
                  <img src="/img/products/bag_romana.jpg" alt="Producto 1">
                  <span>Bag Romana</span>
                </td>
                <td>$30.000</td>
                <td>1</td>
                <td>$30.000</td>
              </tr>
              <tr>
                <td class="carrito-producto">
                  <img src="/img/products/bag_vera.jpeg" alt="Producto 2">
                  <span>Bag Vera Charol</span>
                </td>
                <td>$32.000</td>
                <td>1</td>
                <td>$32.000</td>
              </tr>
              <tr>
                <td class="carrito-producto">
                  <img src="/img/products/mochila-maui-beige.jpg" alt="Producto 3">
                  <span>Mochila Maui Beige</span>
                </td>
                <td>$50.000</td>
                <td>1</td>
                <td>$50.000</td>
              </tr>
              <tr>
                <td class="carrito-producto">
                  <img src="/img/products/gafas_california.JPEG" alt="Producto 4">
                  <span>Gafas California</span>
                </td>
                <td>$15.000</td>
                <td>1</td>
                <td>$15.000</td>
              </tr>
              <tr>
                <td class="carrito-producto">
                  <img src="/img/products/pulsera_tachas.jpeg" alt="Producto 5">
                  <span>Pulsera Tachas</span>
                </td>
                <td>$18.000</td>
                <td>1</td>
                <td>$18.000</td>
              </tr>
              <tr>
                <td class="carrito-producto">
                  <img src="/img/products/set_ancla_cuero.jpeg" alt="Producto 6">
                  <span>Set Ancla Cuero</span>
                </td>
                <td>$18.000</td>
                <td>1</td>
                <td>$18.000</td>
              </tr>
            </tbody>
          </table>

          <div class="carrito-total">
            <div class="carrito-resumen">
              <p>Subtotal (sin envío): <span>$170.000</span></p>
              <p>Envío: <span>$15.000</span></p>
            </div>

            <h3>Total: $185.000</h3>
            <a href="/checkout" class="btn-finalizar">Finalizar Compra</a>
          </div>
        </div>
      </main>

      <%- include('../partials/footer') %>
  </body>

</html>